.footer {
  background-color: #2e2648;
  color: #fff;
  text-align: center;
  padding: 1.5rem 1rem;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.footer-links p {
  text-decoration: none;
  color: #cbbde2;
  transition: color 0.3s;
}

.footer-links p:hover {
  color: #fff;
  cursor: pointer;
}

.footer-logo {
  width: 60px;
}

@media (min-width: 768px) {
  .footer-links {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .footer-logo {
    width: 80px;
    margin-top: 1rem;
    opacity: 0.9;
  }
}
