.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(circle, #4d4766, #2b1e2e);
  color: #ffffff;
  border-radius: 25px;
  padding: 1.5rem;
  max-width: 95%;
  margin: 1rem;
  gap: 1rem;
}

.form h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.form h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.group-project,
.group-author {
  border: none;
  padding: 0;
  margin: 0;
}

input,
textarea {
  width: 90%;
  margin: 10px 5px;
  padding: 10px 15px;
  border-radius: 40px;
  border: none;
}

textarea {
  height: 110px;
}

.input-row {
  display: flex;
  gap: 0.02rem;
  width: 100%;
}

@media (min-width: 768px) {
  .form {
    max-width: 425px;
    margin: 1rem;
  }
}
