.header {
  background-color: #2e2648;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  position: relative;
}

.menu-icon {
  width: 35px;
  cursor: pointer;
}

.menu-list {
  position: absolute;
  top: 45px;
  left: 0;
  background-color: #3b2f5b;
  list-style: none;
  padding: 0.5rem 0;
  border-radius: 8px;
  width: 150px;
  display: none;
}

.menu-list--open {
  display: block;
  z-index: 99;
}

.menu-list li {
  margin: 0.5rem 0;
}

.menu-list a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 0.4rem;
}

.menu-list a:hover {
  background-color: #5e4a8a;
}

.company-name {
  font-size: 1.2rem;
}

.header-logo {
  width: 50px;
}

.header-text {
  margin-top: 1rem;
}

.header-text h1 {
  font-size: 1.8rem;
  margin: 0;
}
.header-text h3 {
  font-weight: 300;
  font-size: 0.8rem;
  color: #cbbde2;
}

@media (min-width: 768px) {
  .company-name {
    font-size: 1.5rem;
  }
  .header-logo {
    width: 70px;
  }
  .header-text h1 {
    font-size: 2.5rem;
  }
  .header-text h3 {
    font-size: 1.2rem;
  }
}
