.preview-container {
  background-color: rgb(239, 238, 237);
  border-radius: 15px;
  width: 80%;
  max-width: 500px;
  max-height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px 20px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.preview-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1.2;
  gap: 0.2rem;
}

.autor-image {
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #00a8ff;
}

.autor-contact {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  text-align: center;
}

.autor-contact h4 {
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
}

.autor-contact p {
  font-size: 0.9rem;
  margin: 0;
  color: #555;
  line-height: 1.4;
  margin-top: 5px;
}
.disabled-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  font-size: 0.75rem;
  color: #777;
  text-align: center;
}

.preview-data {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
  margin: 1rem;
  padding-left: 10px;
  overflow: hidden;
}

.preview-data h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.preview-data p:first-of-type {
  font-size: 0.85rem;
  font-weight: normal;
  color: #333;
  margin: 0;
}

.preview-data .description {
  font-size: 0.75rem;
  color: #777;
  line-height: 1.3;
  margin-top: 4px;
  overflow-wrap: break-word;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.contact-item .icon {
  width: 16px;
  height: 16px;
  margin: 0 4px;
  align-items: baseline;
}

@media (min-width: 768px) {
  .preview-img {
    width: 100%;
    align-items: center;
  }

  .preview-data {
    width: 100%;
    padding-left: 30px;
  }

  .preview-container {
    max-width: 500px;
    min-height: 260px;
    padding: 30px 40px;
  }

  .autor-image {
    width: 80px;
    height: 80px;
  }

  .autor-contact h4 {
    font-size: 1rem;
  }

  .autor-contact p {
    font-size: 0.85rem;
  }

  .contact {
    font-size: 0.8rem;
  }

  .preview-data h2 {
    font-size: 1.5rem;
    margin-top: 0.05rem;
  }

  .preview-data p:first-of-type {
    font-size: 1rem;
  }

  .preview-data .description {
    font-size: 0.85rem;
  }
}
