.project-image-container {
  width: 90%;
  max-width: 800px;
  aspect-ratio: 1 / 1;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (min-width: 768px) {
  .project-image-container {
    width: 900px;
    height: 600px;
    margin: 20px;
    aspect-ratio: auto;
  }

  .project-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
